* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.overlay_admin_login{
    position:relative;
    width:100%;
    height:700px;
    background:url("../images/admin/bg_admin.jpg")0 0 no-repeat; 
    background-size:cover;
    .authenticate_admin{
        background: #3b73b9;
        color: white;
        text-align: center;
        width: 400px;
        padding: 15px;
        position:absolute;
        left:10%;
        top:100px;
        box-shadow: 0px 0px 13px grey;
        .title{
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 15px;
        }
        .text_login{
            font-size: 17px;
            margin-bottom: 10px;
        }
        #username_admin{
            margin-bottom: 15px;
            height: 25px;
        }
        #sub_bt{
            background: white;
            width: 75px;
            border: none;
            height: 20px;
            border-radius: 5px;
            box-shadow: 1px 1px 1px black;
            cursor: pointer;
        }
    }
}
#main_admin_content{
    background: #f6f6f6;
}
.main_admin_panels{
    display:inline-block;
    vertical-align:top;
    width:79%; 
    min-height: 700px;
    background: #f6f6f6;
    .page_content{
        padding:15px;
        .title{
            text-align: left;
            font-size: 25px;
            margin-top: 20px;
            margin-bottom: 25px;
        }
    }
}
.main_admin_menu{
    display:inline-block;
    vertical-align:top;
    width:20%;
    box-shadow: 7px 0px 15px -8px black;
    min-height:700px;
    background:white;

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    h2 {
        text-align: center;
        margin: 20px auto;
        color: #fff;
    }

    .accordion-menu {
        margin:0;
        width:100%;
        background:white;
    }
    .accordion-menu li.open .dropdownlink {
        color: #3b73b9;
        .fa-chevron-down {
            transform: rotate(180deg);
        }
    }
    .accordion-menu li:last-child .dropdownlink {
        border-bottom: 0;
    }
    .dropdownlink {
        cursor: pointer;
        display: block;
        padding: 15px 15px 15px 45px;
        font-size: 18px;
        border-bottom: 1px solid #ccc;
        color: #212121;
        position: relative;
        transition: all 0.4s ease-out;
        img{
            width: 25px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }
        i {
            position: absolute;
            top: 17px;
            left: 16px;
        }
        .fa-chevron-down {
            right: 12px;
            left: auto;
        }
    }

    .submenuItems {
        display: none;
        color:black;
        background: #e8e8e8;
        li {
            border-bottom: 1px solid #B6B6B6;
        }
    }

    .submenuItems a {
        display: block;
        background: #e8e8e8;
        padding: 12px 12px 12px 45px;
        transition: all 0.4s ease-out;
        color:black;
        &:hover {
            background-color: #3b73b9;
            color: white;
        }
    }


}
#adm_content_user, #adm_content_log, #adm_content_serial{
    position: relative;
    .add_user_description, .export_user_description{
        margin-top: 20px;
        cursor: pointer;
        padding: 5px;
        border: 1px solid black;
        border-radius: 5px;
        text-align: center;
        width: 151px;
        background: white;
        font-size: 14px;
        display:inline-block;
        vertical-align:top;
        margin-right:15px;
        a{
            text-decoration: none;
            color: black;
        }
        &:hover{
            background:#d7efff;
        }
        img{
            width: 12px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
        }
    }
    
    .overlay_udpdate, .overlay_create{
        position: absolute;
        background: rgba(0,0,0, 0.5);
        top: 0;
        left: 0;
        width: 100%;
        min-height: 700px;
        z-index: 0;
        display:none;
        .update_user_box, .create_user_box{
            width: 400px;
            background: #f5f5f5;
            padding: 15px;
            padding-top: 0px;
            border-radius: 5px;
            border: 7px solid #3b73b9;
            margin-left: auto;
            margin-right: auto;
            margin-top: 75px;
            .form_update_user, .form_create_user{
                .user_update_sct, .user_create_sct{
                    margin-top: 15px;
                    margin-left: auto;
                    margin-right: auto;
                    width: 75%;
                }
                .description_form{
                    font-weight: bold;
                    font-style: italic;
                    font-size: 14px;
                    color: #3b73b9;
                    margin-bottom: 5px;
                }
                input{
                    width: 100%;
                    height: 25px;
                }
                select{
                    width: 100%;
                    height: 25px;
                }
                .sct_btn{
                    text-align: center;
                    margin-top: 25px;
                    margin-bottom: 15px;
                    .update_user_btn, .create_user_btn{
                        width: 90px;
                        background: #3b73b9;
                        color: white;
                        padding: 2px;
                        text-align: center;
                        cursor: pointer;
                        box-shadow: 1px 1px 1px black;
                        display: inline-block;
                        vertical-align: top;
                    }
                    .cancel_user_btn, .create_cancel_user_btn{
                        width: 90px;
                        background: #c7ccd2;
                        color: black;
                        padding: 2px;
                        text-align: center;
                        cursor: pointer;
                        box-shadow: 1px 1px 1px black;
                        display: inline-block;
                        vertical-align: top;
                        margin-left: 30px;
                    }
                }
            }
        }
    }
    .adm_all_user_container, .adm_logs_container, .adm_serial_container{
        .result_description{
            font-style: italic;
            span{
                font-weight: bold;
                font-size: 18px;
                color: #3b73b9;
            }
        }
    }
    .array_all_user, .array_all_logs, .array_all_sn{
        margin-top: 25px;
        width: 100%;
        .header_array_user, .header_array_logs, .header_array_sn{
            .head_item{
                background: #3b73b9;
                display: inline-block;
                vertical-align: top;
                width: 13.5%;
                text-align: center;
                border: 1px solid white;
                color: white;
                padding: 1px;
                margin-right:-2px;
                &.sn_comment{
                    width:32%;
                }
            }
        }
        
        .header_array_logs{
            .head_item{
                width: 12%;  
            }                  
        }
        .content_array_user, .content_array_logs, .content_array_sn{
            .line_user, .line_logs, .line_sn{
                .user_item, .logs_item, .sn_item{
                    display: inline-block;
                    vertical-align: top;
                    width: 13.5%;
                    text-align: center;
                    border: 1px solid white;
                    padding: 1px;
                    margin-right: 1.7px;
                    font-size: 15px;
                    min-height: 23px;
                    &.user_is_admin{
                        padding-top: 3px;
                    }
                    &.user_delete{
                        padding-top: 3px;
                    }
                    &.sn_comment{
                        width:31.7%;
                    }
                }
                
                .logs_item{
                    width: 12%;  
                    &.logs_date{
                        font-size: 13px;
                    }
                }
                &:nth-child(even) .user_item, &:nth-child(even) .logs_item, &:nth-child(even) .sn_item{
                    background-color:#cde1f0;
                }
                &:hover .user_item, &:hover .logs_item, &:hover .sn_item{
                    border-bottom:1px solid #3b73b9;
                    border-top:1px solid #3b73b9;
                }
                .check_admin{
                    width: 15px;
                }
                .modif_admin{
                    margin-right: 30%;
                    cursor: pointer; 
                    width:15px;
                }
                .delete_admin{
                    cursor: pointer;
                    width:15px;
                }            
            }
        }
    }
}

#adm_content_log, #adm_content_serial{
    .search_container, .search_container_sn{
        border: 1px solid black;
        border-radius: 5px;
        padding: 15px;
        background: #dddddd;
        margin-top: 15px;
        .search_line{
            display:inline-block;
            vertical-align:top;
            margin-right: 15px; 
        }
        .search_bt, .export_bt{
            width: 100px;
            height: 20px;
        }
    }
}

#adm_content_dictionaries{
    .dico_main_container{
        position: relative;
        .dico_step1{
            .dico_form{
                padding: 15px;
                background: white;
                border: 2px solid #3b73b9;
                border-radius: 5px;
                width: 426px;
                &.error{
                    border: 2px solid red;
                }
                .error_form_text{
                    color: red;
                    font-weight: bold;
                    text-align: center;
                    margin-top: 20px;
                    margin-bottom: -10px;
                }
                .line_dico_form{                    
                    margin-bottom:10px;
                    span{
                        display: inline-block;
                        font-weight: bold;
                        margin-right: 15px;
                        width: 150px;
                    }
                }
                .bt_send_dico_form{
                    text-align: center;
                    width: 180px;
                    background: #3b73b9;
                    color: white;
                    padding: 2px;
                    box-shadow: 1px 1px 1px black;
                    border-radius: 5px;
                    cursor: pointer;
                    margin-top: 20px;
                    margin-left: auto;
                    margin-right: auto;
                }
                select{
                    width: 226px;
                    height: 22px;
                    margin-left: -4px;
                }
                input{
                    width: 226px;
                    height: 22px;
                }
            }
        }
        .dico_step2{
            display:none;
            .title{}
            .subtitle{
                background: #3b73b929;
                padding: 10px;
                font-size: 14px;
                font-style: italic;
            }
            .create_new_dico{
                 text-align: center;
                width: 180px;
                background: #3bb985;
                color: white;
                padding: 2px;
                box-shadow: 1px 1px 1px black;
                border-radius: 5px;
                cursor: pointer;
                margin-top: 20px;
                display:inline-block;
                vertical-align:top;
            }
            .cancel_new_dico{
                text-align: center;
                width: 180px;
                background: #b93b3bb5;
                color: white;
                padding: 2px;
                box-shadow: 1px 1px 1px black;
                border-radius: 5px;
                cursor: pointer;
                margin-top: 20px;
                display:inline-block;
                vertical-align:top;
            }
            .presentation{
                background: #3bb95040;
                padding: 10px;
                color: black;
                margin-top: 25px;
                font-size: 18px;
            }
            .dico_type_selector{
                .type-entry{
                    display: inline-block;
                    vertical-align: top;
                    width: 175px;
                    text-align: center;
                    margin:7px;
                    padding:5px;
                    cursor:pointer;
                    background: #cecece;
                    margin-bottom:0px;
                    &:first-child{
                        margin-left:0;
                    }
                    &.selected{
                        background: #3b73b9d9;
                        color: white;
                    }
                }
            }
            .dictionary_type_listing{
                display:none;
                border: 2px solid #3b73b9d9;
                padding: 10px;
                .header_new_dico{
                    .td_head{
                        background: #5b6f88;
                        display: inline-block;
                        vertical-align: top;
                        width: 90px;
                        text-align: center;
                        border-right: 1px solid white;
                        color: white;
                        padding: 1px;
                        margin-right: -3px;
                        font-size: 14px;
                        &.description{
                            width: 220px;
                        }                        
                    }
                }
                .content_new_dico{
                    .line_new_dico{
                        width: 1131px;
                        height: 36px;
                        overflow: hidden;
                        
                        &:nth-child(even) {
                            background-color:#cde1f0;
                        }
                        &.updated_state{
                            background:#fff70040;
                        }
                        &.created_state{
                            background:#52fd5269;
                        }
                        .td_dico{
                            display: inline-block;
                            vertical-align: top;
                            width: 90px;
                            text-align: center;
                            border-right: 1px solid white;
                            padding: 1px;
                            margin-right: 1px;
                            font-size: 14px;
                            padding-top: 8px;
                            img{
                                width: 22px;
                                margin-top: -3px;
                            }                        
                            &.description{
                                width: 220px;
                            }
                            &.photo_link{   
                                padding-top: 4px;
                                img{
                                    width: 50px;
                                }
                            }
                            &.can_info{
                                cursor:help;
                            }
                            &.action{
                                cursor:pointer;
                            }
                        }
                    }
                }
                &.joystick-type, &.display-type{
                    .content_new_dico{
                        .line_new_dico{
                            width: 767px;
                        }
                    }
                }
                .add_new_entry{
                    text-align: center;
                    width: 180px;
                    background: #3bb985;
                    color: white;
                    padding: 2px;
                    box-shadow: 1px 1px 1px black;
                    border-radius: 5px;
                    cursor: pointer;
                    margin-top: 5px;
                    margin-bottom: 15px;
                    display: inline-block;
                    vertical-align: top;
                    &.disp, &.joy{
                        width: 250px;
                    }
                    img{
                        display: inline-block;
                        vertical-align: middle;
                        width: 17px;
                        margin-left: 12px;
                        margin-top: -3px;
                    }
                }
            }
        }
        .dico_step3{display:none;}
        .overlay_form{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background: #000000ab;
        }
        .formulaire_update_button, .formulaire_create_button, .formulaire_update_joystick, .formulaire_create_joystick, .formulaire_update_display, .formulaire_create_display{
            background: #d6e4f5fa;
            border: 2px solid black;
            border-radius: 5px;
            padding: 15px;
            width: 900px;
            margin-bottom: 30px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 18px;
            display:none;
            .title{
                font-size: 25px;
                margin-top: 20px;
                margin-bottom: 25px;
                text-align:center;
                img{
                    display: inline-block;
                    vertical-align: middle;
                    width: 50px;
                    border: 2px solid white;
                }
            }
            .tooltip_form{
                position:relative;
                .text_explain{
                    position: absolute;
                    background: white;
                    width: 200px;
                    left: 35px;
                    border: 2px solid #91dfab;
                    border-radius: 5px;
                    padding: 5px;
                    z-index: 9999;
                    left: 30px;
                    top: -59px;
                    font-style: italic;
                    font-size: 14px;
                }
            }
            .form_ctn{
                .global_info, .can_info, .led_info{
                    background: #ffffff94;
                    position: relative;
                    padding: 20px;
                    border-top: 2px solid #3b73b9;
                    margin-top:30px;
                    .title_b{
                        position: absolute;
                        top: -24px;
                        font-style: italic;
                        color: #3b73b9;
                        font-weight: bold;
                        font-size: 19px;
                        left: 0;
                    }
                    .left{
                        width: 48%;
                        display: inline-block;
                        vertical-align: top; 
                        
                    }
                    .right{
                        width: 48%;
                        display: inline-block;
                        vertical-align: top;
                    }
                    .line_form{
                        margin-bottom: 15px;
                        .text{
                            display: inline-block;
                            vertical-align: top;
                            width: 130px;
                            font-weight: bold;
                        }
                        input{
                            width: 200px;
                            height: 22px;
                        }
                        .select_large{
                            width: 200px;
                            height: 22px;
                        }
                        .tooltip_form{
                            display: inline-block;
                            vertical-align: top;
                            margin-left: 5px;
                            img{
                                width: 20px;
                                display: inline-block;
                                vertical-align: top;
                                margin-top: -8px; 
                            }
                            .text_explain{
                                display:none;
                            }
                        }
                    }
                }
            }
            .button_ctn{
                margin-top: 15px;
                text-align: center;
            }
            .update_bt, .create_bt{
                display: inline-block;
                vertical-align: top;
                width: 150px;
                background: #209420a6;
                color: white;
                text-align: center;
                border: 5px;
                cursor: pointer;
                box-shadow: 1px 1px 1px black;
                padding: 5px;
                margin-right: 15px;
            }
            .cancel_bt{
                display: inline-block;
                vertical-align: top;
                width: 150px;
                background: #942020a6;
                color: white;
                text-align: center;
                border: 5px;
                cursor: pointer;
                box-shadow: 1px 1px 1px black;
                padding: 5px;
            }
        }
    }
}