<div class="section_container">
    <div class="title title_main">Welcome to manufacturing mode</div>
  
    <div class="bloc_container">
        <div class="bloc login_manufacturing ">
            <div class="title_bloc">Login Manufacturing Test</div>
           <div class="info_bloc">
                User SSO : 
                <span class="input_zone blue">
                    <input id="user_sso_input_manufacturing" class="inp1" type="text" value="" placeholder="User SSO"/>
                </span><br>
                Part Number : 
                <span class="input_zone blue">
                    <input id="part_number_input_manufacturing" class="inp2" type="text" value="" placeholder="Part number"/>
                </span><br>
                Serial Number : 
                <span class="input_zone blue">
                    <input id="serial_number_input_manufacturing" class="inp3" type="text" value="" placeholder="Serial Number"/>
                </span><br>
                Manufacturing Date : 
                <span class="input_zone blue">
                    <input id="manufacturing_date_input_manufacturing" class="inp3" type="date" value="" />
                </span><br>
            </div>
            <div class="bouton_grey" id="send_info_login_manufacturing">
                Login
            </div>
        </div>
        
        <div class="bloc information tsui_img hidden">
            <div class="title_bloc">TSUI Overview</div>
            <img class="photo_tsui" src="">
        </div>
        
        <div class="bloc information tsui_info hidden">
            <div class="title_bloc name"></div>
            <div class="info_bloc">
                Boot Config : <span class="boot_config blue"></span><br>
                FPGA Config : <span class="fpga_config blue"></span><br>
                Software Config : <span class="sw_config blue"></span><br>
                Unique ID : <span class="unic_config blue"></span><br>
            </div>
            <br>
            <button class="bt_get_config">Get configuration</button>
        </div>
        
        <div class="bloc commentary_bloc hidden">
            <div class="title_bloc">Comment on SN <span class="serial_number"></span></div>
            <textarea class="input_commentary"></textarea>
            <div class="update_commentary_bt">Update Comment</div>
        </div>
        
        <div class="information_manufacturing hidden">
            <div class="bouton test_bt_home" data-link="testfwdownloadfinal">
                Continue
            </div>
        </div>   
    </div>
    
    <div class="bouton manufacturing_history_bt" data-link="history">
        <img src="images/history.png"> <span>History</span>
    </div>
        
</div>