<div class="adm_logs_container">
    <div class="title">Logs Management panel</div>
    <div class="result_description">There are currently <span></span> logs in database matching parameters.</div>  
    
    <div class="search_container">        
        <div class="search_line">Part Number : <input type='text' class='search_pn_input' value=""></div>
        <div class="search_line">Serial Number : <input type='text' class='search_sn_input' value=""></div>
        <div class="search_line">User SSO : <input type='text' class='search_sso_input' value=""></div>
        <div class="search_line btt"><button class="search_bt">Search</button></div>
        <div class="search_line"><a href="#" id="export_logs"><button class="export_bt">Export to Excel</button></a></div>
    </div>
    <div class="array_all_logs">
        <div class="header_array_logs">
            <div class="head_item logs_id">ID</div>
            <div class="head_item logs_sso">SSO</div>
            <div class="head_item logs_role">Role</div>
            <div class="head_item logs_sn">Serial Number</div>
            <div class="head_item logs_pn">Part Number</div>            
            <div class="head_item logs_type">Type</div>            
            <div class="head_item logs_date">Date</div>            
            <div class="head_item logs_actions">Actions</div>
        </div>
        <div class="content_array_logs"></div>
    </div>
</div>