<div class="adm_serial_container">
    <div class="title">Serial Number Management panel</div>
    <div class="result_description">There are currently <span></span> SN in database matching parameters.</div>  
    
    <div class="search_container_sn">        
        <div class="search_line">Serial Number : <input type='text' class='search_sn_input' value=""></div>
        <div class="search_line btt"><button class="search_bt">Search</button></div>
        <div class="search_line"><a href="#" id="export_sn"><button class="export_bt">Export to Excel</button></a></div>
    </div>
    <div class="array_all_sn">
        <div class="header_array_sn">
            <div class="head_item sn_id">ID</div>
            <div class="head_item sn_sn">Serial Number</div>    
            <div class="head_item sn_comment">Comment</div>    
            <div class="head_item sn_date_serial">Date of Serial Number</div>            
            <div class="head_item sn_date_comment">Date of last Comment</div>            
            <div class="head_item sn_actions">Actions</div>
        </div>
        <div class="content_array_sn"></div>
    </div>
</div>