<div class="adm_tsui_container">
    <div class="title">TSUI Management panel</div>
    <div class="result_description">There are currently <span></span> TSUIs in database.</div>  
    <div class="add_tsui_description"><img src="../images/admin/add.png"> Add a new TSUI</div>
    <div class="array_all_tsui">
        <div class="header_array_tsui">
            <div class="head_item tsui_part_number">Part Number</div>
            <div class="head_item tsui_name">UI Name</div>
            <div class="head_item tsui_photo_link">Photo</div>
            <div class="head_item tsui_family">Family ID</div>            
            <div class="head_item tsui_family_name">Family Name</div>            
            <div class="head_item tsui_model">Model Name</div>            
            <div class="head_item tsui_type">Type</div>            
            <div class="head_item tsui_switch_pos_number">Switch Pos. Nb.</div>            
            <div class="head_item tsui_has_service_bt">Service Bt.</div>            
            <div class="head_item tsui_has_SRTL">SRTL</div>            
            <div class="head_item tsui_actions">Actions</div>
        </div>
        <div class="content_array_tsui"></div>
    </div>
    
     <!-- UPDATE TSUI ____________________________________________________________________-->
    
    <div class="overlay_udpdate">
        <div class="update_tsui_box">
            <div class="title">Update Tsui ID <span class="id_tsui_span"></span></div>
            <div class="form_update_tsui">
                <div class="left">
                    <div class="tsui_update_sct">
                        <div class="description_form">Part Number</div>
                        <input type="text" class="update_tsui_part_number" value="">
                    </div>
                    <div class="tsui_update_sct">
                        <div class="description_form">UI Name</div>
                        <input type="text" class="update_tsui_name" value="">
                    </div>
                    <div class="tsui_update_sct">
                        <div class="description_form">Photo Link</div>
                        <input type="text" class="update_tsui_photo_link" value="">
                    </div>
                    <div class="tsui_update_sct">
                        <div class="description_form">Family ID</div>
                        <select class="update_tsui_family">
                        </select>
                    </div>
                    <div class="tsui_update_sct">
                        <div class="description_form">Family Name</div>
                        <input type="text" class="update_tsui_family_name" value="">
                    </div>
                    <div class="tsui_update_sct">
                        <div class="description_form">Model Name</div>
                        <input type="text" class="update_tsui_model" value="">
                    </div>
                </div>
                <div class="right">
                    <div class="tsui_update_sct">
                        <div class="description_form">type Name</div>
                        <input type="text" class="update_tsui_type" value="">
                    </div>
                    <div class="tsui_update_sct">
                        <div class="description_form">Switch Position Number</div>
                        <select class="update_tsui_switch_pos_number">
                            <option value="0">0</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <div class="tsui_update_sct">
                        <div class="description_form">COC file link (.pdf)</div>
                        <input type="text" class="update_tsui_tst_name" value="">
                    </div>

                    <div class="tsui_update_sct">
                        <div class="description_form">This TSUI has Service Button ?</div>
                        <select class="update_tsui_has_service_bt">
                            <option value="0">No</option>
                            <option value="1">Yes</option>
                        </select>
                    </div>

                    <div class="tsui_update_sct">
                        <div class="description_form">This TSUI has SRTL ?</div>
                        <select class="update_tsui_has_SRTL">
                            <option value="0">No</option>
                            <option value="1">Yes</option>
                        </select>
                    </div>
                </div>
                
                
                <div class="tsui_update_sct sct_btn">
                    <div class="update_tsui_btn">Update</div>
                    <div class="cancel_tsui_btn">Cancel</div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- CREATE NEW TSUI _____________________________________________________________-->
    
    <div class="overlay_create">
        <div class="create_tsui_box">
            <div class="title">Create New User</div>
            <div class="form_create_tsui">
                <div class="left">
                    <div class="tsui_create_sct">
                        <div class="description_form">Part Number</div>
                        <input type="text" class="create_tsui_part_number" value="">
                    </div>
                    <div class="tsui_create_sct">
                        <div class="description_form">UI Name</div>
                        <input type="text" class="create_tsui_name" value="">
                    </div>
                    <div class="tsui_create_sct">
                        <div class="description_form">Photo Link</div>
                        <input type="text" class="create_tsui_photo_link" value="">
                    </div>
                    <div class="tsui_create_sct">
                        <div class="description_form">Associate dictionary</div>
                        <select class="create_tsui_family">
                        </select>
                    </div>
                    <div class="tsui_create_sct">
                        <div class="description_form">Family Name</div>
                        <input type="text" class="create_tsui_family_name" value="">
                    </div>
                    <div class="tsui_create_sct">
                        <div class="description_form">Model Name</div>
                        <input type="text" class="create_tsui_model" value="">
                    </div>
                </div>
                <div class="right">
                    <div class="tsui_create_sct">
                        <div class="description_form">type Name</div>
                        <input type="text" class="create_tsui_type" value="">
                    </div>
                    <div class="tsui_create_sct">
                        <div class="description_form">Switch Position Number</div>                        
                        <select class="create_tsui_switch_pos_number">
                            <option value="0">0</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <div class="tsui_create_sct">
                        <div class="description_form">COC file link (.pdf)</div>
                        <input type="text" class="create_tsui_tst_name" value="">
                    </div>

                    <div class="tsui_create_sct">
                        <div class="description_form">This TSUI has Service Button ?</div>
                        <select class="create_tsui_has_service_bt">
                            <option value="0">No</option>
                            <option value="1">Yes</option>
                        </select>
                    </div>

                    <div class="tsui_create_sct">
                        <div class="description_form">This TSUI has SRTL ?</div>
                        <select class="create_tsui_has_SRTL">
                            <option value="0">No</option>
                            <option value="1">Yes</option>
                        </select>
                    </div>
                </div>
                
                
                <div class="tsui_create_sct sct_btn">
                    <div class="create_tsui_btn">Create</div>
                    <div class="cancel_tsui_btn">Cancel</div>
                </div>
            </div>
        </div>
    </div>
</div>